@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.all {
    background-color: #f7f1e3;
}

.contain {
    min-height: 90vh;
    background-color: #ffeaa7;
}

.contain>img {
    position: absolute;
    max-height: 90vh;
    height: auto;
    right: 0vw;
    bottom: 10vh;
    animation: entrance 1s ease 0s 1 normal forwards;
}

.plat1 {
    background-image: url('../../assets/img/plat1.png');
    position: absolute;
    left: 5vw;
    top: 10vh;
    animation: plat 15s ease 0ms infinite normal forwards;
}

.plat2 {
    position: absolute;
    left: 35vw;
    top: 8vh;
    animation: plat 15s ease 0ms infinite normal forwards;
}

.plat3 {
    position: absolute;
    left: 20vw;
    bottom: 8vh;
    animation: plat 15s ease 0ms infinite normal forwards;
}

.cond1 {
    position: absolute;
    right: 10vw;
    top: 5vw;
    opacity: 0;
    animation: cond1 2s ease 1.5s 1 normal forwards;
}

.cond2 {
    position: absolute;
    right: 1vw;
    top: 25vw;
    opacity: 0;
    animation: cond2 2s ease 1.5s 1 normal forwards;
}

.cond3 {
    position: absolute;
    right: 5vw;
    top: 40vw;
    opacity: 0;
    animation: cond3 2s ease 1.5s 1 normal forwards;
}

.cond4 {
    position: absolute;
    right: 50vw;
    top: 25vw;
    opacity: 0;
    animation: cond4 2s ease 1.5s 1 normal forwards;
}

.recettes {
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    opacity: 0;
}

.recettes>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recettes>div>div:first-child {
    flex-grow: 18;
    width: 100%;
    background-color: rgb(255, 234, 167, 0.3);
}

.recettes>div>div:nth-child(2) {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(255, 234, 167, 0.3);
}

.recettes>div>div:nth-child(3) {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(255, 234, 167, 0.6);
}

.recettes>div>div:first-child>img {
    max-width: 20vw;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.recettes>div:hover {
    animation: product 2s ease 0s 1 normal forwards;
}

.epice {
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    opacity: 0;
}

.epice>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.epice>div>div:first-child {
    flex-grow: 18;
    width: 100%;
    background-color: rgb(255, 234, 167, 0.3);
}

.epice>div>div:nth-child(2) {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(255, 234, 167, 0.3);
}

.epice>div>div:nth-child(3) {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(255, 234, 167, 0.6);
}

.epice>div>div:first-child>img {
    max-width: 20vw;
    min-width: 20vw;
    max-height: 20vh;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.epice>div:hover {
    animation: product 0.5s linear 0s 1 normal forwards;
}

.bounce {
    animation: bounce 1s ease 0s 1 normal forwards;
    opacity: 1;
}

.action-bottom {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.Plus {
    flex-direction: row;
    display: flex;
    margin-right: 5vw;
    justify-content: flex-end;
}

.sub-title {
    margin-top: 5vh;
    margin-left: 5vw;
    font-family: 'Redressed', cursive;
    font-size: x-large;
}

@keyframes entrance {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes plat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes plat-product {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes cond1 {
    0% {
        opacity: 0;
        transform: translate(-200px, 150px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes cond2 {
    0% {
        opacity: 0;
        transform: translate(-100px, 50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes cond3 {
    0% {
        opacity: 0;
        transform: translate(-100px, -50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes cond4 {
    0% {
        opacity: 0;
        transform: translate(50px, 50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes bounce {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(250px);
    }
    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }
    55% {
        animation-timing-function: ease-in;
        transform: translateY(65px);
    }
    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
    81% {
        animation-timing-function: ease-in;
        transform: translateY(28px);
    }
    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
    95% {
        animation-timing-function: ease-in;
        transform: translateY(8px);
    }
    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

@keyframes product {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}