<div class="contain">
    <img src="../../assets/img/chef.png">
</div>

<div class="plat1">
    <img src="../../assets/img/plat1.png" alt="" width="250px">
</div>

<div class="plat2">
    <img src="../../assets/img/Plat2.png" alt="" width="250px">
</div>

<div class="plat3">
    <img src="../../assets/img/Plat3.png" alt="" width="250px">
</div>

<div class="cond1">
    <img src="../../assets/img/c1.png" alt="" width="50px">
</div>

<div class="cond2">
    <img src="../../assets/img/c2.png" alt="" width="50px">
</div>

<div class="cond3">
    <img src="../../assets/img/c3.png" alt="" width="50px">
</div>

<div class="cond4">
    <img src="../../assets/img/c4.png" alt="" width="50px">
</div>