<nav>
    <div class="header">
        <div class="group-right">
            <span class="material-icons">light_mode</span>
            <span><mat-slide-toggle></mat-slide-toggle></span>
            <span class="material-icons">dark_mode</span>
        </div>

        <div class="group-left">
            <span class="material-icons" matBadge="0" matBadgePosition="above after" matBadgeColor="accent" matBadgeSize="small">favorite</span>

            <span class="material-icons" matBadge="{{panier_content}}" matBadgePosition="above after" matBadgeColor="accent" matBadgeSize="small" (click)="showPanier()">local_mall</span>

            <span class="material-icons" (click)="showAccountProfil()">person</span>
        </div>

        <div class="group-center">
            <div (click)="c_left()">{{choose_left}}</div>
            <div class="selected">{{choose}}</div>
            <div (click)="c_right()">{{choose_right}}</div>
        </div>
    </div>

</nav>
<div class="profil" [ngClass]="profil == 1 ? 'view-profil' : 'view-profil-hide'">
    <div>
        <span>{{surname}}</span> <span>{{name}}</span>
    </div>

    <div>
        <button mat-stroked-button>Manage your account</button>
    </div>
    <div>
        <hr size="1">
    </div>
    <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a bookmark icon">
          <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>

<div class="favourite" [ngClass]="fav == 1 ? 'view-fav' : 'view-fav-hide'">
    <div class="products-fav">
        <div class="product-fav">

        </div>
        <div class="product-fav">

        </div>
        <div class="product-fav">

        </div>
    </div>
</div>

<div class="panier" [ngClass]="panier == 1 ? 'view-panier' : 'view-panier-hide'">
    <div class="products">
        <div class="product">

        </div>
        <div class="product">

        </div>
        <div class="product">

        </div>
    </div>

    <div class="contain">
        <div class="items"><b>Total : {{Total | currency:'XAF':'symbol':'4.2-2':'fr'}}</b></div>
        <button mat-raised-button color="accent" class="items">Voir le panier</button>
    </div>
</div>